@font-face {
  font-family: "Decima Mono Pro";
  src: url(../fonts/decimamonopro-webfont.woff2) format('woff2');
}

.navbar {
  font-family: "Decima Mono Pro", "Roboto";
}

body {
  font-family: "Montserrat", sans-serif;
}

.centerLinks {
  padding: 0;
  margin: 0;
  text-align: center;
}
